#app{
    display: flex;
    flex-direction: column;
    height: 100vh;
    main{
        flex-grow: 1;
        // background-color: rgba( pallete(1) , .5 );
        background-image: linear-gradient(315deg,
        #000066 30%,#ff1493);
        .container{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 40px;
            .album{
                flex-basis: 200px;
                padding: 15px 30px;
                margin: 20px 0px;
                text-align: center;
                background-color: pallete(1);
                // border: 3px solid pallete(4);
                img{
                    width: 100%;
                }
            }
        }
    }
}