.container{
    width: 60%;
    margin: 0 auto;
}

.search{
    text-align: center;
}

select{
    height: 25px;
    background-color: dodgerblue;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border-color: blue;
    border-radius: 5px;
}