.container{
    width: 60%;
    margin: 0 auto;
}

.search{
    text-align: center;
}

select{
    width: 135px;
    height: 25px;
    background-color: pallete(3);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border-color: pallete(7);
    border-radius: 5px;
    cursor: pointer;
}